<div class="text-center">
    <h3>View post</h3>
    <hr class="mx-auto" width="815px">
</div>

<div class="container-fluid">

    <!-- post list -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 offset-md-2">

                <!-- post -->
                <div class="card mb-3">
                    <!-- post -->
                    <div class="card-header">
                        <!-- title -->
                        <span class="mr-2"><b>{{post.title}}</b></span>

                        <!-- post datetime -->
                        <span class="float-right">{{post.createDatetime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>

                    <!-- post content -->
                    <div class="card-body">
                        <p class="card-text" [innerHtml]="post.content"></p>
                    </div>

                    <!-- "category name" and "creator email" -->
                    <div class="card-footer bg-transparent">

                        <!-- category name -->
                        <span>
                            {{post.categoryName}}
                        </span>

                        <!-- creator email -->
                        <span class="float-right">
                            {{post.creator}}
                        </span>
                    </div>
                </div>
                <!-- end of card -->

            </div>

        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center mb-3">
            <div>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "post-list" page -->
                <button class="btn btn-dark" routerLink="/post-list" style="width: 150px">Cancel</button>
            </div>
        </div>

    </div>
</div>