/* @import "node_modules/angular-notifier/styles"; */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "node_modules/angular-notifier/styles";

/* navbar is always fixed a top 0 */
/* .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
} */

/* logo Home occupies 30px */
.navbar .logo {
    margin-right: 30px;
}

/* frame of checkout screen */
.form-area {
    position: relative;
    margin-bottom: 45px;
    padding: 50px 20px;
    border: 1px solid #ccc
}

/* title frame of checkout screen */
.form-area h4 {
    position: absolute;
    top: -26px;
    left: 13px;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 500;
    z-index: 23;
    display: inline-block
}

/* badge of cart quantity */
.badge-notify {
    background: red;
    position: relative;
    top: -18px;
    left: -5px;
    font-size: 10px;
}