/* @import "node_modules/angular-notifier/styles"; */
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "node_modules/angular-notifier/styles";
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";

/* frame of form */
/* .form-area {
    position: relative;
    margin-bottom: 45px;
    padding: 50px 20px;
    border: 1px solid #ccc
} */

/* frame title */
/* .form-area h4 {
    position: absolute;
    top: -26px;
    left: 13px;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 500;
    z-index: 23;
    display: inline-block
} */

/* frame title */
/* .form-area h3 {
    position: absolute;
    top: -26px;
    left: 13px;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 500;
    z-index: 23;
    display: inline-block
} */

.pointer {
    cursor: pointer;
}
