<div class="text-center">
    <h3>Sign up</h3>
    <hr width="1080px">
</div>

<!-- {{userForm.value | json}} -->

<div class="container">

    <!-- call createUser() when user clicks the "Save" button -->
    <form [formGroup]="userForm" (ngSubmit)="createUser()">

        <div class="row mt-5">

            <!-- the "Left" column -->
            <div class="col-md-6">
                <div class="container">

                    <!-- Email -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="email">
                                Email<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="email" formControlName="email"
                                placeholder="Ex: abc@gmail.com" id="email">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.email">
                                <!-- userForm.get('email')?.dirty: field 'email' was changed? -->
                                <!-- userForm.get('email')?.touched: field 'email' lost focus? -->
                                <div *ngIf="userForm.get('email')?.hasError(e.type) && 
                                    (userForm.get('email')?.dirty || userForm.get('email')?.touched)">

                                    <small>{{e.message}}</small>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="password">
                                Password<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="password" formControlName="password"
                                placeholder="Input your password" id="password">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.password">
                                <div *ngIf="userForm.get('password')?.hasError(e.type) && 
                                    (userForm.get('password')?.dirty || userForm.get('password')?.touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- First name -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="firstName">
                                First name<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="firstName" placeholder="First name"
                                id="firstName">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.firstName">
                                <div *ngIf="userForm.get('firstName')?.hasError(e.type) && 
                                    (userForm.get('firstName')?.dirty || userForm.get('firstName')?.touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- the "Right" column -->
            <div class="col-md-6">
                <div class="container">

                    <!-- Last name -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="lastName">
                                Last name<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="lastName" placeholder="Last name"
                                id="lastName">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.lastName">
                                <div *ngIf="userForm.get('lastName')?.hasError(e.type) && 
                                    (userForm.get('lastName')?.dirty || userForm.get('lastName')?.touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Phone -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="phone">
                                Phone<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="phone"
                                placeholder="ex: 0987654321(10 digits)" id="phone">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.phone">
                                <div *ngIf="userForm.get('phone')?.hasError(e.type) && 
                                    (userForm.get('phone')?.dirty || userForm.get('phone')?.touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-4">
                            <label class="col-form-label" for="address">
                                Address
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-8">
                            <input class="form-control" type="text" formControlName="address"
                                id="address" placeholder="Address">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.address">
                                <div
                                    *ngIf="userForm.get('address')?.hasError(e.type) && 
                                    (userForm.get('address')?.dirty || userForm.get('address')?.touched)">

                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Save" button -->
                <!-- if the form values are invalid then disable the "Save" button -->
                <button type="submit" [disabled]="userForm.invalid" style="width: 150px" class="btn btn-primary mr-2">

                    <!-- display the spinner icon when press the "Save" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Save" to "Saving.." -->
                    <span *ngIf="showSpinner">Saving...</span>
                    <!-- after save the user then re-changes button name to "Save" -->
                    <span *ngIf="!showSpinner">Save</span>

                </button>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "product-list" page -->
                <button class="btn btn-dark" routerLink="/product-list" style="width: 150px">Cancel</button>
            </div>
        </div>
    </form>
</div>