<!-- the "Post list" screen -->
<div class="container-fluid">

    <!-- post list -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9 content">

                <!-- posts -->
                <div class="card mb-3" *ngFor="let post of posts">
                    <!-- post -->
                    <div class="card-header">
                        <!-- title -->
                        <span class="mr-2"><b>{{post.title}}</b></span>

                        <!-- edit post. -->
                        <!-- users only can edit them-self posts. They cannot edit posts of other authors  -->
                        <a class="mr-1 text-info" [routerLink]="['/post-edit', post.postid]"
                            *ngIf="userid==post.creatorid">
                            <i class="fa fa-edit"></i></a>

                        <!-- delete post. -->
                        <!-- users only can delete them-self posts. They cannot delete posts of other authors  -->
                        <a class="mr-1 text-danger pointer" (click)="deletePost(post.postid)"
                            *ngIf="userid==post.creatorid">
                            <i class="fa fa-trash"></i>
                        </a>

                        <!-- comment datetime -->
                        <span class="float-right">{{post.createDatetime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>

                    <!-- post content -->
                    <div class="card-body">
                        <p class="card-text" [innerHtml]="post.content"></p>
                    </div>

                    <!-- comment file + comment id -->
                    <div class="card-footer bg-transparent">

                        <span>
                            {{post.categoryName}}
                        </span>

                        <span class="float-right">
                            {{post.creatorEmail}}
                        </span>
                    </div>
                </div>
                <!-- end of card -->

            </div>

            <!-- categories sidebar -->
            <div class="col-md-3">
                <h3>Categories</h3>
                <ul *ngFor="let c of sidebarMenu">
                    <li>
                        <a [routerLink]="['/category-sidebar', c.id]" routerLinkActive="active-link">
                            {{ c.name }} ({{c.numOfPosts}})
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <!-- pagination -->
            <div class="col-md-6">
                <!-- [maxSize]="5": only display up to 6 numbers(6 buttons on pagination bar). -->
                <!-- [boundaryLinks]="true": display <<(move first) and >>(move last). -->
                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
                    [maxSize]="4" [boundaryLinks]="true"
                    (pageChange)="searchPosts(thePageNumber,thePageSize,this.currentCategoryid)">
                </ngb-pagination>
            </div>

            <!-- Page size -->
            <div class="col-md-3 mt-2" style="text-align: right;">
                <span class="mr-2">Page Size</span>
                <!-- when dropdown changes its value then call method updatePageSize() -->
                <select #mySelect (change)="updatePageSize(+mySelect.value)">
                    <option selected="true">{{thePageSizeInit}}</option>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <hr>
            </div>
        </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>