.header {
    background-color: pink;
    height: 120px;
}

.sticky {
    position: sticky;
    top: 10px;
}

/* .content {
    height: 1000px;
} */

/* .menu {
    background-color: red;
    color: white;
} */

.related {
    background-color: grey;
    height: 100px;
}

/* .footer {
    background-color: blue;
} */