<!-- the "Product list" screen -->
<div class="container-fluid">

    <!-- search section -->
    <div class="container-fluid">

        <!-- Search Form -->
        <form [formGroup]="searchProduct" (ngSubmit)="ngOnInit()">

            <!-- move controls to the right -->
            <div class="row d-flex justify-content-end mb-2">

                <!-- SearchTerm -->
                <!-- search for: product name -->
                <div class="col-md-3">
                    <!-- textbox -->
                    <input id="searchTerm" class="form-control" type="search" formControlName="searchTerm"
                        placeholder="Search term(product name)">
                </div>

                <!-- the "Search" button -->
                <div class="col-md-2">
                    <!-- "Search button" -->
                    <button id="searchButton" class="form-control btn btn-primary" style="width: 100%">
                        <i class="fa fa-search"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- products list -->
    <div class="container-fluid">

        <div class="row">

            <!-- loop over the collection of products -->
            <div *ngFor="let tempProduct of products" class="col-md-3 mb-2">

                <!-- 1 product -->
                <div class="card" style="width: 18rem;">
                    <!-- product image -->
                    <a routerLink="/product-list/{{ tempProduct.id }}">
                        <img class="card-img-top" src="{{ tempProduct.imageUrl }}" style="width: 30%;">
                    </a>

                    <!-- product name + product price + 'Add to cart' -->
                    <div class="card-body">
                        <!-- product name -->
                        <a routerLink="/product-list/{{ tempProduct.id }}">
                            <h5 class="card-title">{{ tempProduct.name }}</h5>
                        </a>
                        <!-- product price -->
                        <p class="card-title text-primary">
                            {{ tempProduct.unitPrice | currency:'VND' }}
                        </p>
                        <!-- 'Add to cart' button -->
                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>

            <!-- if products.length == 0(products is null/undefine) then display a message -->
            <div *ngIf="products?.length == 0" class="alert alert-info col-md-12">
                There are no products contain string '{{this.searchProduct.value.searchTerm!}}'.
            </div>

        </div>
    </div>

    <!-- pagination + pageSize -->
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6 offset-md-6">
                <div class="row">
                    <!-- pagination -->
                    <div class="col-md-9" style="padding-left: 30%">
                        <!-- [maxSize]="5": only display up to 6 numbers(6 buttons on pagination bar). -->
                        <!-- [boundaryLinks]="true": display <<(move first) and >>(move last). -->
                        <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                            [collectionSize]="theTotalElements" [maxSize]="5" [boundaryLinks]="true"
                            (pageChange)="searchProducts(thePageNumber,thePageSize,this.searchProduct.value.searchTerm!)">
                        </ngb-pagination>
                    </div>

                    <!-- Page size -->
                    <div class="col-md-3 mt-2" style="text-align: right;">
                        <span class="mr-2">Page Size</span>
                        <!-- when dropdown changes its value then call method updatePageSize() -->
                        <select #mySelect (change)="updatePageSize(+mySelect.value)">
                            <option selected="true">{{thePageSizeInit}}</option>
                            <option>20</option>
                            <option>50</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>