<div class="text-center">
    <!-- title -->
    <h3>Edit profile</h3>
    <hr width="700px">
</div>

<!-- {{editProfileForm.value | json}} -->

<div class="container">

    <!-- call the function editProfile() when user clicks the "Save" button -->
    <form [formGroup]="editProfileForm" (ngSubmit)="updateProfile()">
        <div class="row mt-5">

            <!-- move column to central -->
            <div class="col-md-8 offset-md-2">
                <div class="container">

                    <!-- id -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="email">
                                Id<small>*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="id" id="id" readonly>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="email">
                                Email<small>*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="email" formControlName="email" id="email" readonly>
                        </div>
                    </div>

                    <!-- First name -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="firstName">
                                First name <small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="firstName" placeholder="First name"
                                id="firstName">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.firstName">
                                <!-- errors on the "firstName" field -->
                                <div
                                    *ngIf="editProfileForm.get('firstName')?.hasError(e.type) && 
                                    (editProfileForm.get('firstName')?.dirty || editProfileForm.get('firstName')?.touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- LastName -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="lastName">
                                Last name<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="lastName" placeholder="Last name"
                                id="lastName">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.lastName">
                                <!-- errors on the "lastName" field -->
                                <div
                                    *ngIf="editProfileForm.get('lastName')?.hasError(e.type) && 
                                    (editProfileForm.get('lastName')?.dirty || editProfileForm.get('lastName')?.touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Phone -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="phone">
                                Phone<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="phone" placeholder="Phone"
                                id="phone" tooltip="Phone number(10 digits)">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.phone">
                                <!-- errors on the "phone" field -->
                                <div *ngIf="editProfileForm.get('phone')?.hasError(e.type) && 
                                    (editProfileForm.get('phone')?.dirty || 
                                    editProfileForm.get('phone')?.touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Shipping address -->
                    <div class="row mb-3">
                        <!-- label -->
                        <div class="col-3">
                            <label class="col-form-label" for="shippingAddress">
                                Shipping address<small class="text-danger">*</small>
                            </label>
                        </div>
                        <!-- textbox -->
                        <div class="col-9">
                            <input class="form-control" type="text" formControlName="shippingAddress"
                                placeholder="Shipping address" id="shippingAddress">
                            <!-- error messages -->
                            <div class="text-danger" *ngFor="let e of errorMessages.shippingAddress">
                                <!-- errors on the "shippingAddress" field -->
                                <div *ngIf="editProfileForm.get('shippingAddress')?.hasError(e.type) && 
                                    (editProfileForm.get('shippingAddress')?.dirty || 
                                    editProfileForm.get('shippingAddress')?.touched)">
                                    <small>{{e.message}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- buttons -->
        <div class="d-flex justify-content-center">
            <div>
                <!-- the "Save" button -->
                <!-- if the editProfileForm is invalid then disable the "Save" button -->
                <button type="submit" [disabled]="editProfileForm.invalid" style="width: 150px"
                    class="btn btn-primary mr-2">

                    <!-- display the spinner icon when press the "Save" button -->
                    <i *ngIf="showSpinner" class="fas fa-spinner fa-spin"></i>
                    <!-- Change label button "Save" to "Saving.." -->
                    <span *ngIf="showSpinner">Saving...</span>
                    <!-- after save "new profile" then re-changes button name to "Save" -->
                    <span *ngIf="!showSpinner">Save</span>

                </button>

                <!-- the "Cancel" button -->
                <!-- re-direct to the "product-list" page -->
                <button class="btn btn-dark" routerLink="/product-list" style="width: 150px">Cancel</button>
            </div>
        </div>
    </form>
</div>